<!DOCTYPE html>
<html lang="en">

<head>
    <title>OpenStreetMap with Flask</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <h1>Display Data</h1>
    
    <ul>
        {% for key,value in data['data'].items() %}
        <li>{{ key }} : {{ value }}</li>
        {% endfor %}
    </ul>


    <div id="map" style="width: 100%; height: 600px;"></div>


    <script>

        
       var map = L.map('map').setView([8.4875, 76.9497], 12);
        

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19
        }).addTo(map);

        
        var geodata = JSON.parse('{{data["data"]|tojson}}');
        console.log(geodata);

        for (var key in geodata) {
            if (geodata.hasOwnProperty(key)) {
                var latitude = geodata[key].latitude;
                var longitude = geodata[key].longitude;

                L.marker([latitude, longitude]).addTo(map)
                .bindPopup(key + '<br>Latitude: ' + latitude + '<br>Longitude: ' + longitude);


            }
        }
        


    </script>
</body>

</html>
