 /* Style the navigation bar */
 .navbar {
    background-color: #d4d2dd;
    transition: height 0.3s ease-in-out;
    width: 100%;
    overflow: hidden;
    padding: 10px 10px;
    position: fixed;
    z-index: 100;

}

#button {
    float: right;
    font-size: large;
    text-align: center;
    margin-right: 50px;
    margin-top: 26px;
    background-color: #fb8500;
    color: #ffff;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: 500;

}

#button:hover {
    background-color: #ffffff;
    color: #e76f51;
    transition: 0.8s;
}

#ic {
    width: 130px;

}



#aa {
    width: 60px;
    height: 80px;
    margin-left: 70px;

}

.pp {
    font-size: 30px;
}

.intro-card{
    background-color: #ffffff;
    width: 100%;
    height: 600px;

   
}

.intro-text{
    display: block;
    font-size: 90px;
    margin-top: 260px;
    align-items: center;
    display: block;
    font-weight: bolder;
    margin-left: 420px;
    user-select: none;
    
    
}

.im{
    display: block;
    width: 200px;
    height:200px ;
    margin-left: 900px;
    pointer-events: none;
}

#p3{
    display: block;
    font-size: 90px;
    margin-top: 260px;
    align-items: center;
    display: block;
    font-weight: bolder;
    user-select: none;
    margin-left: 550px;
}

#p4{
    display: block;
    font-size: 90px;
    margin-top: 260px;
    align-items: center;
    display: block;
    font-weight: bolder;
    user-select: none;
    margin-left: 480px;
}

.flip-card {
    
    display: flex;
    background-color: transparent;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 1100px;
    height: 520px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1.4s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipped .flip-card-inner {
    transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.left-side {
    flex: 1;
    padding: 10px;
}

.right-side {
    flex: 1;
    padding: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    text-align: center;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg);
}

#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.centered {
    font-size: 170px;
    font-weight: bolder;
    color: #ffff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.fot {

    width: 100%;
    height: 350px;
    background-color: #bbb;
    border-radius: 10px;
}

.lef-fot {
    margin: 0% 0%;
    flex: 1;
}

.rig-fot {
    margin: 0% 50%;
}

.trans-background{
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* p {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
} */