<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>

</form>


<!-- The {% csrf_token %} tag is necessary to include a CSRF token, which helps protect against Cross-Site Request Forgery attacks. -->


<!-- {{ form.as_p }} renders the form fields as paragraphs. You can use other methods like as_table or as_ul based on your preferred HTML structure. -->