<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

    <link rel="stylesheet" href="../static/leaflet.awesome-markers.css">
    <script src="../static/leaflet.awesome-markers.js"></script>


    <!-- Add Font Awesome CSS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS Kattakada</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }

        header {
            height: 90px;
            max-height: 160px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            /*background-color: cadetblue;*/
        }

        header>div {
            flex: 33%;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

        h2 {
            font-size: 32px;
            color: #274c77;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .logo_gov {
            width: 100px;
        }

        .logo_icfoss {
            width: 110px;
        }   

        .logo_lorawan {
            width: 130px;
        }

        /* footer {
            margin: 0;
            padding: 0;
            height: 10vh;
            margin-top: 1em;
        }*/

        footer{
            max-height: 50px;
        }
        
        .footer {
            text-align: center;
            font-size: 20px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding-bottom: auto;
            height: 40px;
        }



        .awesome-marker i {
            font-size: 18px;
            margin-top: 8px;
        }

        #p1 {
            font-size: 15px;
        }
    </style>
</head>

<body>
    <div class="main-page">
        <header>
            <div>
                <img class="logo_gov" src="https://lk.openiot.in/static/images/kerala_govt.png" alt="KeralaGov">
                <img class="logo_icfoss" src="https://lk.openiot.in/static/images/icfoss.svg" alt="Icfoss">
            </div>
            <div>
                <h2>CDOH IoT Infrastructure</h2>
            </div>
            <div>
                <img class="logo_lorawan" src="https://lk.openiot.in/static/images/lorawan.png" alt="Lorawan">
            </div>
        </header>
        <div id="map" style="width: 100%; height: 650px;"></div>
        <footer>
            <div class="footer">
                <p>Developed by CDOH <br>International Centre for Free and Open Source Solutions</p>
                <p id="p1">All content on this site is available under the Creative Commons Attribution-ShareAlike 3.0
                    Unported (CC BY-SA 3.0) licence.</p>
            </div>
        </footer>
    </div>

    <script>
        var map = L.map('map').setView([10.2999, 77.6803], 7);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19
        }).addTo(map);

        var markers = L.markerClusterGroup();
        var geodata = JSON.parse('{{data["data"]|tojson}}');

        function addMarkers() {
            markers.clearLayers();
            for (var key in geodata) {
                if (geodata.hasOwnProperty(key)) {
                    var latitude = geodata[key].latitude;
                    var longitude = geodata[key].longitude;
                    var lastSeenTime = geodata[key].lastSeenTime;
                    var lastSeenDate = geodata[key].lastSeenDate;
                    var timeStamp = geodata[key].timeStamp;
                    var lastSeenTimestamp = new Date(timeStamp);
                    var currentTime = new Date();
                    var timeDifference = currentTime - lastSeenTimestamp;
                   // var isGatewayActive = timeDifference <= 30 * 60 * 1000;
                    var isGatewayActive = timeDifference <=  2 * 60 * 1000; //minute second millisecond

                    var redMarker = L.AwesomeMarkers.icon({
                        extraClasses: 'fa solid fa-wifi',
                        markerColor: 'red'
                    });

                    var greenMarker = L.AwesomeMarkers.icon({
                        extraClasses: 'fa solid fa-wifi',
                        markerColor: 'green'
                    });

                    var grayMarker = L.AwesomeMarkers.icon({
                        extraClasses: 'fa solid fa-wifi',
                        markerColor: 'gray'
                    });

                    if (isOffline(timeStamp)) {
                        var marker = L.marker([latitude, longitude], {
                            icon: grayMarker
                        });
                        marker.bindPopup(key + '<br>Date: ' + lastSeenDate + '<br>Last Seen: ' + lastSeenTime);
                        markers.addLayer(marker);
                    } else {
                        var customIcon = isGatewayActive ? greenMarker : redMarker;
                        var marker = L.marker([latitude, longitude], {
                            icon: customIcon
                        });
                        marker.bindPopup(key + '<br>Date: ' + lastSeenDate + '<br>Last Seen: ' + lastSeenTime);
                        markers.addLayer(marker);
                    }
                }
            }
            map.addLayer(markers);
        }

        function updateContent() {
            $.ajax({
                url: '/api/chirpstack-data-gateways',
                method: 'GET',
                success: function (gw) {
                    geodata = gw;
                    addMarkers();
                    console.log(gw);
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        updateContent();
        setInterval(function () {
            updateContent();
        }, 60000);  // Set interval to refresh the API call every 5 minutes (300000 milliseconds)

        function isOffline(timeStamp) {
            var currentTime = new Date();
            var sixMonthsAgo = new Date();
            sixMonthsAgo.setMonth(currentTime.getMonth() - 6);
            var timestampDate = new Date(timeStamp);
            return timestampDate <= sixMonthsAgo;
        }
    </script>
</body>

</html>
